<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>DevBurger - Cardápio</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
   <h1><a href="/">DevBurger</a> - Cardápio</h1>
    <div class="cardapio">
        <div class="item">
            <h2 class="titulo-item">Classic Burger</h2>
            <p class="ingredientes-item">Pão, carne bovina, queijo, alface, tomate e molho especial.</p>
        </div>
        <div class="item">
            <h2 class="titulo-item">Veggie Burger</h2>
            <p class="ingredientes-item">Pão integral, hambúrguer de grão-de-bico, alface, tomate e maionese vegana.</p>
        </div>
        <div class="item">
            <h2 class="titulo-item">Cheddar Bacon</h2>
            <p class="ingredientes-item">Pão, carne bovina, cheddar, bacon crocante e cebola caramelizada.</p>
        </div>
    </div>

    <h2>Sugira um novo sabor!</h2>
    <form id="sugestao-form " action="/sugestao" method="GET">
        <label for="nome">Nome do item sugerido:</label>
        <input type="text" id="nome" name="nome">
        <br>
        <label for="ingredientes">Ingredientes do item:</label>
        <textarea id="ingredientes" name="ingredientes" rows="3"></textarea>
        <br>
        <button type="submit">Enviar sugestão</button>
    </form>

    <h2>Contato</h2>
    <p>Para dúvidas ou sugestões, entre em contato conosco através do formulário <a href="/contato">Contato</a>.</p>

    <h2>Lanches</h2>
    Para ver os lanches disponíveis, acesse a página <a href="/api/lanches">Lanches</a>.
</body>
</html>